# Archivos compilados y binarios de Go
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/vendor/

# Archivos del sistema
.DS_Store
Thumbs.db

# --- Archivos de Frontend (React Native / Expo) ---

# Dependencias de Node (muy importante)
frontend/node_modules/

# Archivos de caché y configuración local de Expo
frontend/.expo/

# Logs de Node
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Archivos de entorno (contienen secretos)
.env

node_modules/
package-lock.json